.swiper {
	width: 100%;
	height: calc(var(--vh, 1vh) * 100);

	&-button-prev {
		margin-top: 0 !important;

		&::after {
			content: none !important;
		}
	}

	&-button-next {
		margin-top: 0 !important;

		&:after {
			content: none !important;
		}
	}

	&__arrow-prev {
		transform: rotate(180deg);
		position: absolute !important;
		align-items: flex-start !important;
		display: flex !important;
		flex-direction: row-reverse;
		width: auto !important;
		right: 100px !important;
		bottom: 300px !important;
		top: inherit !important;
		left: auto !important;
		height: inherit !important;

		&__text {
			width: 70px;
			transform: rotate(90deg);
			color: $colorWhite;
			font-size: 30px;
			font-weight: 300;
			line-height: 75px;
			letter-spacing: 0em;
			transition: color 0.3s ease-in-out;
		}

		&__svg {
			fill: $colorWhite;
			height: 188px;
			transition: fill 0.3s ease-in-out;
		}

		&:hover {
			.swiper__arrow-prev__text {
				color: $colorOrange;
			}

			.swiper__arrow-prev__svg {
				fill: $colorOrange;
			}
		}

		&:focus:not(:hover) {
			.swiper__arrow-prev__text {
				color: #b8451b;
			}

			.swiper__arrow-prev__svg {
				fill: #b8451b;
			}
		}

		&:active {
			.swiper__arrow-prev__text {
				color: #be3908;
			}

			.swiper__arrow-prev__svg {
				fill: #be3908;
			}
		}

		&--conclusion {
			bottom: 100px !important;
		}
	}

	&__arrow-next {
		position: absolute !important;
		align-items: flex-start !important;
		display: flex !important;
		width: auto !important;
		right: 100px !important;
		bottom: 100px !important;
		top: inherit !important;
		height: inherit !important;


		&__text {
			width: 70px;
			transform: rotate(-90deg);
			color: $colorWhite;
			font-size: 30px;
			font-weight: 300;
			line-height: 75px;
			letter-spacing: 0em;
			transition: color 0.3s ease-in-out;
		}

		&__svg {
			fill: $colorWhite;
			transition: fill 0.3s ease-in-out;
		}

		&:hover {
			.swiper__arrow-next__text {
				color: $colorOrange;
			}

			.swiper__arrow-next__svg {
				fill: $colorOrange;
			}
		}

		&:focus:not(:hover) {
			.swiper__arrow-next__text {
				color: #b8451b;
			}

			.swiper__arrow-next__svg {
				fill: #b8451b;
			}
		}

		&:active {
			.swiper__arrow-next__text {
				color: #be3908;
			}

			.swiper__arrow-next__svg {
				fill: #be3908;
			}
		}
	}
}

@media (max-width: 1440px) {
	.swiper {
		&__arrow-prev {
			&__text {
				font-size: 22px;
				line-height: 56px;
			}
		}

		&__arrow-next {
			&__text {
				font-size: 22px;
				line-height: 56px;
			}
		}
	}
}

@media (max-width: 920px) {
	.swiper {
		&__arrow-prev {
			right: 50px !important;
			bottom: 160px !important;

			&__text {
				width: 30px;
				font-size: 13px;
				line-height: 33px;
			}

			&__svg {
				height: 82px !important;
			}

			&--conclusion {
				bottom: 50px !important;
			}
		}

		&__arrow-next {
			right: 50px !important;
			bottom: 50px !important;

			&__text {
				width: 30px;
				font-size: 13px;
				line-height: 33px;
			}

			&__svg {
				height: 82px !important;
			}
		}
	}
}

@media (max-width: 576px) {
	.swiper {
		&__arrow-prev {
			right: 25px !important;
			bottom: 120px !important;

			&__text {
				width: 25px;
			}

			&__svg {
				height: 60px !important;
			}

			&--conclusion {
				bottom: 40px !important;
			}
		}

		&__arrow-next {
			right: 25px !important;
			bottom: 40px !important;

			&__text {
				width: 25px;
			}

			&__svg {
				height: 60px !important;
			}
		}
	}
}